/* Fontsize and Font Family */

@font-face {
  font-family: 'Glyphicons Halflings' !important;

  src: url('https://heavy.ch/htdocs/wiki/memodump/fonts/glyphicons-halflings-regular.eot');
  src: url('https://heavy.ch/htdocs/wiki/memodump/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://heavy.ch/htdocs/wiki/memodump/fonts/glyphicons-halflings-regular.woff') format('woff'), url('https://heavy.ch/htdocs/wiki/memodump/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://heavy.ch/htdocs/wiki/memodump/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
 }



html > body {
    font-size:          16px;
    font-family:        "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


/* Header */

#outbox div.navbar {
    font-size:  0.85em;
}


/* Outbox */
#outbox #navibar {
    font-size:          1.25em;
    font-weight:        bold;
        background-color:   white;
}
#outbox #sidebar h4 {
    font-size:          0.75em;
    margin-top:         1.5em;
    margin-bottom:      0em;
    padding-left:       0em;
}
#outbox #pagetrail ul {
    font-size:          0.85em;
    background-color:   white;
}

/* Contentbox */
#contentbox #location .lastupdate {
    display:    none;
}
#contentbox #location #pagelocation li:last-child, #pagelocation li:last-child a {
    color:  #428bca !important;
}



/* Main Content */
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    font-family: Georgia, serif;
}
#content img.banner.attachment {
    width:      100%;
}
#content img.attachment {
    max-width:  100%;
}
#content .table-of-contents {
    float:      right;
}
#content hr {
    border-top: 1px solid LightGray;
    margin-bottom: 0px;
}
#content pre {
    font-family: "Lucida Console", Monaco, monospace;
}



/* Footer */ 
#footer {
    font-size:      0.85em;
}



/*
arnica thumbnails styles

copyright (C) 2008-2009 MoinMoin:ReimarBauer
license: GNU GPL, see COPYING for details
*/
div.arnica .clearboth { clear: both; }
div.arnica {
    display: block;
    text-align: center;
    margin: 0em;
}
.arnica  .thumbnail {
    position: relative;
    display: block;
    text-align: center;
    float: left;
    margin: 0 15px 15px 0;
    border: none;
}
.arnica .text {
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0.2em;
}
.arnica .imagecont {
    position: relative;
}
.arnica .title {
    text-align: center;
    padding: 0.2em;
    line-height: 1.2;
    font-size: 90%;
}
.arnica .image {
    position: absolute;
    bottom: 0;
    font-size: 0px;
}
.arnica .description {
    text-align: left;
    padding: 0.2em;
    line-height: 1.2;
    font-size: 90%;
}
.arnica .show-datetime {
    text-align: center;
    padding: 0.2em;
    line-height: 1.2;
    font-size: 90%;
 }
.arnica form {
    padding: 0;
    margin: 0;
    position: relative;
}
.arnica .html-show-tools {
    position: relative;
    width: 100%;
    padding-top: 2px;
}
.arnica .html-show-tools ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.arnica .html-show-tools li {
    display: table-cell;
    position: relative;
    padding: 0 1px 0 1px;
    margin: 0;
}

/*
arnica_slides styles 

copyright © 2008-2012 MoinMoin:ReimarBauer, MoinMoin:RadomirDopieralski
license: GNU GPL, see COPYING for details
*/
a.first_slide {
    display: inline-block;
}
a.first_slide:before {
    content: url(../img/arnica_first_slide.png);
    display: inline-block;
    margin: 0 0.1em;
    width: 32px;
    height: 32px;
}
a.first_slide_disabled {
    display: inline-block;
}
a.first_slide_disabled:before {
    content: url(../img/arnica_first_slide_disabled.png);
    display: inline-block;
    margin: 0 0.1em;
    width: 32px;
    height: 32px;
}
a.stop_slide {
    display: inline-block;
}
a.stop_slide:before {
    content: url(../img/arnica_stop_slide.png);
    display: inline-block;
    margin: 0 0.1em;
    width: 32px;
    height: 32px;
}
a.previous_slide {
    display: inline-block;
}
a.previous_slide:before {
    content: url(../img/arnica_previous_slide.png);
    display: inline-block;
    margin: 0 0.1em;
    width: 32px;
    height: 32px;
}
a.next_slide {
    display: inline-block;
}
a.next_slide:before {
    content: url(../img/arnica_next_slide.png);
    display: inline-block;
    margin: 0 0.1em;
    width: 32px;
    height: 32px;
}
a.pause_slide {
    display: inline-block;
}
a.pause_slide:before {
    content: url(../img/arnica_pause_slide.png);
    display: inline-block;
    margin: 0 0.1em;
    width: 32px;
    height: 32px;
}
a.last_slide {
    display: inline-block;
}
a.last_slide:before {
    content: url(../img/arnica_last_slide.png);
    display: inline-block;
    margin: 0 0.1em;
    width: 32px;
    height: 32px;
}
a.last_slide_disabled {
    display: inline-block;
}
a.last_slide_disabled:before {
    content: url(../img/arnica_last_slide_disabled.png);
    display: inline-block;
    margin: 0 0.1em;
    width: 32px;
    height: 32px;
}
div.arnica-slides {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 2em;
}
.arnica-slides .navigation-animation {
    text-align: center;
    vertical-align: middle;
    margin: 0.5em;
}
.arnica-slides .navigation-button {
    text-align: center;
    vertical-align: middle;
    margin: 0.5em;
}
.arnica-slides .image {
    text-align: center;
    vertical-align: middle;
    margin: 0.5em;
}
.arnica-slides .image-description {
    text-align: center;
    padding: 0.5em;
    line-height: 1.2;
    font-size: 70%;
}
